*{
    padding: 0;
    margin: 0;
}

a{
    font-size: 22px;
    color: rgb(216, 21, 21);
    font-family: 'New Tegomin', serif;
    
}

p{
    font-size: 20px;
    color: rgb(186, 85, 233);
    text-align: center;
    font-family: 'New Tegomin', serif;
}

h1{
    color: rgb(228, 29, 89);
    text-align: center;
    font-family: 'New Tegomin', serif;
}
 body{
     background: url(https://i.artfile.ru/3840x2160_1351689_[www.ArtFile.ru].jpg);
     font-family: 'New Tegomin', serif;
 }
    
     
 

 h2{
     color: rgb(19, 0, 126);
    text-align: center;
    font-family: 'New Tegomin', serif;
 }

 img{
     max-width: 100%;
     height: auto;
 }

 iframe{
     text-align: center;
     flex-wrap: wrap;
     flex: auto;
     border-radius: 10%;
 }
 
 .wrapper{
     max-width: 1200px;
     margin: auto;
 }

 